{% extends 'users/base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="login-box">

        <div class="question-box">
            <p class="question">You have been logged out</p>
        </div>
        <div class="row">
            <div class="col">

                <button class="btn" id="login-btn"><a style="color: #f0f0f0" href="{% url 'login' %}">Login again</a>
                </button>
                <button class="btn" id="login-btn"><a style="color: #f0f0f0" href="{% url 'home' %}">Home</a></button>
            </div>
        </div>
    </div>
</form>

<div class="success-box">
    <h1>You have been logged in!</h1>
</div>

{% endblock %}